---
export const prerender = true;
import MainBanner from "../components/MainBanner.astro";
import Layout from "../layouts/Layout.astro";
import * as AstroFeather from "astro-feather";
import { queryStringToObject } from "../helpers/queryHelper";
import { getProducts } from "../services/productService";
import { getCategories } from "../services/categoryService";

const queryString = queryStringToObject(new URL(Astro.url));

const categories = await getCategories();
const products = await getProducts();
---

<Layout title="Explore your aesthetics">
  <main>
    <MainBanner />

    <div class="max-w-screen-xl flex flex-wrap justify-between mx-auto py-4">
      <div class="w-1/5 pr-5">
        <a
          href={"/"}
          class={`rounded-xl flex h-20 items-center justify-between p-4 bg-gray-light text-black hover:bg-primary hover:text-white ${
            !queryString.category ? "bg-primary text-white" : ""
          }`}
        >
          <p class="font-extrabold text-md italic">HOME</p>
          <AstroFeather.HomeIcon />
        </a>

        {
          categories.map((item) => (
            <a
              href={`?category=${item.slug}`}
              class={`mt-3 h-20 rounded-xl flex items-center justify-between p-4 bg-gray-light text-black hover:bg-primary hover:text-white ${
                queryString.category === item.slug
                  ? "bg-primary text-white"
                  : ""
              }`}
            >
              <p class="font-extrabold text-md italic">{item.name}</p>
              <AstroFeather.ZapIcon />
            </a>
          ))
        }
      </div>

      <div class="w-4/5 pl-5">
        <div>
          <h2 class="font-extrabold italic text-4xl text-transform: uppercase">
            {queryString.category ? queryString.category : "HOME"}
          </h2>
          <a
            href={`/category?slug=${queryString.category}`}
            class="font-bold text-sm">View More</a
          >
        </div>

        <div class="flex flex-wrap mt-5">
          <a
            href={"/"}
            class="rounded-xl flex h-12 items-center justify-between px-6 py-4 border-gray-light border-2"
          >
            <AstroFeather.SlidersIcon size={18} />
            <p class="ml-5 font-bold text-md">Sort</p>
          </a>
          <a
            href={"/"}
            class="ml-5 rounded-xl flex h-12 items-center justify-between px-6 py-4 border-gray-light border-2"
          >
            <p class="font-bold text-md">Product Type</p>
          </a>
          <a
            href={"/"}
            class="ml-5 rounded-xl flex h-12 items-center justify-between px-6 py-4 border-gray-light border-2"
          >
            <p class="font-bold text-md">Style</p>
          </a>
          <a
            href={"/"}
            class="ml-5 rounded-xl flex h-12 items-center justify-between px-6 py-4 border-gray-light border-2"
          >
            <p class="font-bold text-md">Size</p>
          </a>
          <a
            href={"/"}
            class="ml-5 rounded-xl flex h-12 items-center justify-between px-6 py-4 border-gray-light border-2"
          >
            <p class="font-bold text-md">Color</p>
          </a>
          <a
            href={"/"}
            class="ml-5 rounded-xl flex h-12 items-center justify-between px-6 py-4 border-gray-light border-2"
          >
            <p class="font-bold text-md">Price Range</p>
          </a>
        </div>
        <div class="flex flex-wrap mt-5 w-100">
          {
            products?.map((item) => (
              <a
                href={`/product?slug=${item.id}`}
                class="product-card w-1/4 rounded-xl flex flex-col items-center justify-center p-4 h-96"
              >
                <div
                  class={`h-full w-full rounded-2xl m-4 bg-cover bg-center`}
                  style={`background-image: url('${item.images?.at(0)?.src}')`}
                />
                <h4 class="font-bold">{item.name}</h4>
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  .product-card {
    height: 400px;
  }
</style>
